<!--The content below is only a placeholder and can be replaced.-->
<div style="border-bottom: 1px solid rgb(222,226,230);">
  <div class="container">
    <app-header></app-header>
  </div>
</div>

<div style="border-bottom: 1px solid rgb(222,226,230);">
  <div class="container">
    <div class="row">
      <div class="col-8" >
        Blue Flowing Line Brochure tri-fold 8-1/2x11 Rectangle
        <span style="border-right: 1px solid rgb(222,226,230); margin:0 10px"></span>
        Item#: 44188
      </div>
      <div class="col-4" style="border-left:1px solid rgb(222,226,230);">
        <a>< Back to Shopping</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row" style="margin: 2% 0 5%">
        <div class="col-3">
          <div class="zoom-in-out">
            <span><i class="fas fa-search-plus"></i></span>
            <span> <i class="fas fa-search-minus"></i></span>
           <span><i class="far fa-hand-paper"></i>Pan View</span>
          </div>
        </div>
        <div class="col-6 switch-btn">
          <span>Guid Lines</span>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <canvas id="canvas" width="707" height="404"></canvas>
<!--          <img src="../assets/company_name.svg" height="404" width="707">-->
<!--          <img *ngIf="uploadNewImage" style="position: absolute; left: 0" [src]="url" height="404" width="707">-->
        </div>
      </div>
    </div>
    <div class="col-4" style="border-left: 1px solid rgb(222,226,230);">
        <div class="add-btn-container">
          <label for="uploadUserImage" class="btn add-btn" style="margin: 0 20px 0 0">
            <i class="fas fa-images"></i>
            ADD IMAGE
          </label>
          <input type="file" style="display: none;" id="uploadUserImage" (change)="onSelectFile($event)">
          <button class="btn add-btn" id="addText" (click)="addFabricText()">
            <i class="fas fa-font"></i>
            ADD TEXT
          </button>
        </div>

  </div>
  <br>




</div>
</div>

<router-outlet></router-outlet>
